$color-white: #fafafa;
$color-light-white: #CBE5F6;
$color-light2-white: #9fd2f7;
$color-dark-blue: #1B4965;
$color-mid-blue: #1976d2;
$color-light-blue: #3A7CA5;
$color-black: #262626;
$color-light-gray: #CCCCCC;
$color-dark-gray: #252B31;